* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-version-purple: #5850ab;
  --light-version-red: #cc5a88;
  --light-version-orange: #f6c075;
  --dark-version-black: #1b1b1b;
  --dark-version-grey: #323232;
  --dark-version-orange: #fc6e20;
  --dark-version-light-orange: #ffe7d0;
}

body {
  font-family: 'Roboto';
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(
    115deg,
    var(--light-version-purple),
    var(--light-version-red)
  );
}

.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  padding: 10vw;
}

.card {
  min-width: 350px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  padding: 1.5rem 1rem;
}

.info-content h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
  max-width: 15ch;
}

.info-title {
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 0px;
}

.info-content p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link-container a {
  text-decoration: none;
  color: white;
  position: relative;
  margin-left: 2rem;
  font-size: 2rem;
}

.link-container a::after {
  content: '';
  background: white;
  width: 1px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -20px;
}

@media screen and (min-width: 768px) {
  .card {
    min-width: 500px;
  }
  .info-content {
    padding-left: 3rem;
  }
  .info-content h2 {
    max-width: none;
  }
}
