:root {
  --light-version-purple : #5850ab;
  --light-version-red : #cc5a88;
  --light-version-orange : #f6c075;
  --dark-version-black : #1B1B1B;
  --dark-version-grey: #323232;
  --dark-version-orange : #FC6E20;
  --dark-version-light-orange :#ffe7d0;
}

.intro {
  background-image: url('img/Mei.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.intro-container {
  background-color: rgba(255, 255, 255, 0.65);
  padding-bottom: 100px;
}

#mei{
  color:var(--light-version-red);
}

.intro-h1{
  font-family: 'Josefin Sans',sans-serif;
  font-size: 100px;
  padding: 100px 0px 0 50px;
  max-width: 250px;
}

.intro-h2{
  font-family: 'Roboto';
  font-size:22px;
  letter-spacing: 8px;
  line-height: 30px;
  font-weight:bold;
  padding:0 0 0 50px;
  max-width: 300px;
}

.letstalk {
  display: inline-block;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: bold;
  color: black;
  border: 1.5px solid var(--light-version-red);
  background-color: var(--light-version-red);
  box-shadow: 0 0px 5px var(--light-version-red);
  margin:20px 0 0 50px;
  padding:15px 30px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: var(--light-version-purple);
}

.about-div {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.about-title {
  font-family: 'Josefin Sans',sans-serif;
  text-decoration: underline;
  font-size: 42px;
  margin:25px;
}

.about-content{
  font-family: 'Roboto',Verdana;
  font-size: 18px;
  line-height: 28px; 
}


@media only screen and (min-width:768px) {
  .intro {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 600px;
    height: 600px;
  }
  .intro-container{
    background-color: rgba(255, 255, 255, 0);
    max-width: 350px;
  }
  .intro-h1{
    max-width: none;
  }
  .intro-h2{
    font-weight: normal;
    max-width: none;
  }
  .about-div {
    align-items: flex-start;
  }
}

@media only screen and (min-width:1025px){
  .intro {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 900px;
    height: 800px;
  }
  .intro-container {
    max-width: 50vw;
    padding-top:200px;
    overflow: hidden;
  }
  #mei{
    color: black;
  }
  #mei:hover{
    color:var(--light-version-red);
  }
  .letstalk {
    background-color: #ffffff;
    box-shadow: none;
  }
  .letstalk:hover{
    background-color: var(--light-version-red);
    transform:scale(1.1);
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.24);
  }
  .about{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-div {
    width:700px;
    margin: 2rem 2rem;
  } 
}